{% extends "base.html" %}

{% block content %}
<head>
    <title>Examples</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">
</head>
<div class="indented">
        <h3>Example Options</h3>
            <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
                <h5>Choose <b>one</b> of the following conflict examples for simulation. Please choose only one, or the simulator will not run correctly.</h5>
        <p>
            {{ form.threemil.label }}
            {{ form.threemil }}<br>
            <i>Three militants: government, rebels, and terrorists; five tribes</i>
        </p>
        <div style="width: 40%">In this example, the government, a rebel group, and a small terrorist organization are fighting
        in one region where there are five different tribes. Two powerful and relatively rich tribes have grievances against
        one another, while three relatively impoverished tribes have grievances against those who are more powerful. The largest,
        richest tribe supports the government, the largest impoverished tribe supports the rebels, and the smallest impoverished
            tribe supports the terrorist group. The government receives some external support from sympathetic foreign countries,
            but due to its control over natural resources the rebel group receives twice the outside income. The terrorist group
            receives half the amount of external support as the government, from foreign countries attempting to destabilize the
            current regime. Weapons are widely available in this region.</div><br><p></p>
        <p>
            {{ form.twomil.label }}
            {{ form.twomil }}<br>
            <i>Two militants: government versus insurgents; two ethnic groups</i>
        </p>
        <div style="width: 40%">In this example, the government is fighting against an insurgency in a
            small country with two major ethnic groups. The minority group only comprises 20% of the population, but its citizens
            are mostly middle or upper class. They are generally supportive of the incumbent government, which provides them with
            special economic and political privileges. The remaining 80% majority is relatively impoverished and resents
            the minority group for its disproportionate power and wealth. It therefore supports the insurgency.
            The government receives some external funding from the international community, but the insurgency receives
            twice as much from external sympathizers. Weapons are readily available to the public.</div><br><p></p>
        <p><input type=submit class='btn btn-primary btn-lg' value="Continue"></p>
    </form>
</div>
    <div class="footer">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright Frances Duffy, (<a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a>), created on 1/1/2019, last updated 9/3/2019
    </div>
{% endblock %}