{% extends "base.html" %}

{% block content %}
<head>
    <title>Thanks</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">
</head>
<div class="subindented">
        <h4>Your message has been submitted.</h4>
        <p>
        Thank you very much for your {{ subject }}. You will receive a response within 1 to 3 business days.
        </p>
</div>
    <div class="footer2">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright Frances Duffy, (<a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a>), created on 1/1/2019, last updated 9/3/2019
    </div>
{% endblock %}