{% extends "base.html" %}

{% block content %}
<head>
    <title>About</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">
</head>
<div class="subindented">
        <h3>About the Developer</h3>


        <img class="col-sm-2" src="{{ url_for('static', filename='frances.jpg') }}" style="horiz-align:left">
<p>
        <div style= "width: 60%">Frances Duffy is a PhD Candidate at the University of North Carolina at Chapel Hill. She studies U.S. intervention in foreign conflict and the effects of local level civilian-militant interactions on overall foreign policy outcomes. Her dissertation examines how varying forms of U.S. intervention can alter the incentives of conflict actors, with a focus on Afghanistan, Somalia, Libya and the Sahel. Mrs. Duffy previously served for five years as a Foreign Service Officer with the U.S. Department of State, working in Belgium, Tunisia, and South Africa with additional travel to nineteen U.S. missions throughout Africa. She holds a Bachelor of Science degree in Mechanical Engineering from Columbia University.
        <p><br><a href="{{ url_for('contact')}}"><b>Contact</b></a></p>
</div>
</div>
<div class="footer2">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright Frances Duffy, (<a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a>), created on 1/1/2019, last updated 9/3/2019
</div>
{% endblock %}
