<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <script>
        var interval = setInterval(update_progress, 1000);
        function update_progress() {
             $.get('/progress').done(function(n){
                 n = n + 5;  // percent value
                 // if (n == 100) {
                 //    clearInterval(interval);
                 //    callback(); // user defined
                 // }
                 $('.progress-bar').animate({'width': n+'%'}).attr('aria-valuenow', 50+n);
             }).fail(function() {
                 clearInterval(interval);
                 displayerror(); // user defined
             });
        }
    </script>

</head>
<body>
<h3>Progress Bar With Label</h3>
<img class="col-sm-3 col-sm-offset-4" src="{{ url_for('static', filename='spinner.gif') }}" ng-show="loading">
</body>
</html>