{% extends "base.html" %}

{% block content %}
  <head>
    <title>Summary</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">
  </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <h3>Summary</h3>
        <p></p>
            <b>Regions:</b> {% for region in regionnames %} {{ region }}  {% endfor %}<br>
            <b>Communities:</b> {% for community in communitynames %} {{ community }}  {% endfor %}<br>
            <b>Militant Groups:</b> {% for militant in militantnames %} {{ militant }}  {% endfor %}
    <table class="page">
    <tr>
        <td style="width: 300px">
            <h4>Grievances</h4>
            {{ table1|safe }}
        </td>
        <td>
            <img id ="network" src = "/static/network.png?u={{ last_updated }}" alt="Community Network" style="width:400px;height:300px;">
        </td>
        <td>
            <h4>Affiliations</h4>
            {{ table2|safe }}
        </td>
    </tr>
</table>
        <p></p>
        <h3>Intervention Options</h3>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div> Provide responses to the two questions below. Spell the militant names exactly as listed in the summary above; names are case sensitive. These responses are required.</div>
        <p>
            {{ form.supported_militants.label }}
            {{ form.supported_militants(size=32) }}
            {% for error in form.supported_militants.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.opposed_militants.label }}
            {{ form.opposed_militants(size=32) }}
            {% for error in form.opposed_militants.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>
        <p></p>
        <p></p>
        <h5>Check the box beside the intervention tool(s) that you would like to implement:</h5>
        <p>
            {{ form.negotiate.label }}
            {{ form.negotiate }}
        </p>
        <p>
            {{ form.negotiate2.label }}
            {{ form.negotiate2 }}
            {{ form.mil1.label }}
            {{ form.mil1(size=16) }}
            {{ form.mil2.label }}
            {{ form.mil2(size=16) }}
        </p>
        <p>
            {{ form.infocampaign.label }}
            {{ form.infocampaign }}
        </p>
        <p>
            {{ form.supportmilgov.label }}
            {{ form.supportmilgov }}
        </p>
        <p>
            {{ form.civwealth.label }}
            {{ form.civwealth }}
            {{ form.wealthregions.label }}
            {{ form.wealthregions(size=32) }}
            {{ form.wealthcomms.label }}
            {{ form.wealthcomms(size=32) }}
        </p>
        <p>
            {{ form.commbenefits.label }}
            {{ form.commbenefits }}
        </p>
        <p>
            {{ form.milbenefits.label }}
            {{ form.milbenefits }}
        </p>
        <p>
            {{ form.civbenefits.label }}
            {{ form.civbenefits }}
        </p>
        <p>
            {{ form.fundmil.label }}
            {{ form.fundmil }}
            {{ form.fundmilamt.label }}
            {{ form.fundmilamt(size=8) }}
        </p>
        <p>
            {{ form.cutoff.label }}
            {{ form.cutoff }}
            {{ form.cutoffamt.label }}
            {{ form.cutoffamt(size=8) }}
        </p>
        <p>
            {{ form.attack.label }}
            {{ form.attack }}
        </p>
        <p>
            {{ form.punish.label }}
            {{ form.punish }}
        </p>
        <p>
            {{ form.weapons.label }}
            {{ form.weapons }}
            {{ form.weaponsregions.label }}
            {{ form.weaponsregions(size=32) }}
        </p>
        <p>
            {{ form.trainequip.label }}
            {{ form.trainequip }}
        </p>
        <p>
            {{ form.protect.label }}
            {{ form.protect }}
        </p>
        <input type=submit class='btn btn-primary btn-lg' value="Initiate the Simulator">
    </form>
{% endblock %}